:root {

    /*
    FONTS
    sans-serif - utan fötter
    serif - med fötter 
    */

    --font-sans-serif: 'Poppins', sans-serif; 
    --font-serif: 'Roboto Serif', serif;

    /* 
    COLORS 
    */
    --color-blue: #11224D;
    --color-green: #84BF9D;
    --color-white: #FEFEFA;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFEFA;
    font-size: 16px;
}

body,
img {
    margin: 0;
    padding: 0;
}

