@import "basic-style.css";
body{
    background-color: #FEFEFA;
}
header{
    border:1px solid #11224D;
    background-color: #11224D;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    height: 145px;
}

 h1{
    color: #FEFEFA;
    font-family: var(--font-serif);
    font-size: 50px;
    margin: 40px 0 0 30px;
    padding: 0;
    grid-column:1/2;
}
li{
    color: #FEFEFA;
    font-family: var(--font-serif);
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin: 45px 20px 0 10px;
    padding-left: 20px;
}
ul{
    grid-column: 2/5;
    text-align: right;
    background-position: 100%;
}
li:hover{
    color: #84BF9D;
}