@import "basic-style.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Components */

button {
    text-align: center;
    background-color: var(--color-white);
    border: 0;
    border-radius: 2rem;
    color: var(--color-blue);
    font-size: var(--font-size);
    font-family: var(--font-sans-serif);
    margin-top: 1rem;
    height: 2.5rem;
    width: 6rem;
}

button:hover {
    background-color: var(--color-green);
}

.header {
    border:1px solid #11224D;
    background-color: #11224D;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    height: 145px;
}

.header__inner {
    grid-column: inner;
    display: grid;
    grid-auto-columns: repeat(4, 1fr);
}

.header__title {
    color: #FEFEFA;
    font-family: var(--font-serif);
    font-size: 40px;
    grid-column:1/2;
    margin-top:40px;
}

.header__item {
    display: inline-block;
    margin: 45px 20px 0 10px;
    padding-left: 20px;
    
}

.header-link{
    color: #FEFEFA;
    font-family: var(--font-sans-serif); 
    list-style-type: none;
    text-decoration: none;
}

.header__list {
    grid-column: 2/5;
    text-align: right;
    background-position: 100%;    
}

 a:hover { 
    color: #84BF9D;
}

.activ {
    color: #84BF9D;
    text-decoration: none;
    font-family: var(--font-sans-serif); 
    font-weight: 600;
    position: relative;   
}

.activ::before {
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    background: #84BF9D;
    position: absolute;
    
}

.about,
.buy {
    background-color: var(--color-white);
}

.about__title,
.buy__title {
    margin: 0;
    padding: 0 0 1rem 0;
    color: var(--color-blue);
    font-family: var(--font-serif);
}

.about__text,
.buy__text {
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
    margin: 0;
    padding: 0;
}

.about {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    padding: 6rem 0 6rem 0;
}

.about__inner {
    grid-column: inner;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__img img {
    width: 100%;
    border-radius: 0.5rem;
}

figure {
    margin: 0;
    padding: 0;
}

.buy {
    display: grid;
    grid-template-columns:  minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    padding-bottom: 6rem;
}

.buy__inner {
    grid-column: inner;
}

.buy__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy p {
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 3rem;
    background-color: var(--color-white);
}

.form__inner {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
  }

  .name,
  .email__inner,
  .phone__inner,
  .square-meter__inner,
  .ort__inner {
    margin-bottom: 1rem;
  }

  form label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-blue);
    margin-bottom: 0.5rem;
    font-family: var(--font-sans-serif);
  }

  
  form input[type="text"],
  form input[type="email"],
  input[type="phonenumber"],
  input[type="number"] {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  .form__box-1,
  .form__box-2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .email,
  .phone,
  .square-meter,
  .ort {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;

  }

.button__inner {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.footer {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    background-color: var(--color-blue);
    padding: 6rem 0 6rem 0;
}

.footer__inner {
    grid-column: inner;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 4rem;
    align-items: top;
}

/* CONTACT */
.footer__contact {
    grid-column: 1/3;
}

.footer__title,
.footer__headline,
.footer__text {
    color: var(--color-white);
    font-family: var(--font-serif);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.footer__title {
    padding-bottom: 1rem;
}

.footer__headline {
    padding-bottom: 0.25rem;
}

.footer__text {
    font-family: var(--font-sans-serif);
    padding-bottom: 1rem;
}

.footer__link {
    padding-bottom: 1rem;
}


.footer__phone span {
    display: block;
    padding-bottom: 0;
}
    
/* SOCIAL */
.footer__list {
    grid-column: 3/6;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.footer__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-sans-serif);
    text-decoration: none;
    padding-bottom: 1rem;

}

.footer__link:hover {
    color: var(--color-green);
}

.footer__link img {
    padding-right: 0.5rem;
    
}

/* FORM */
.footer__form {
    grid-column: 8/13;
    max-width: 450px;
}

footer input[type="text"],
footer input[type="email"],
select,
textarea {
    display: block;
    margin: 0.5rem 0 1rem 0;
    padding: 0.75rem;
    width: 100%;
    border: 0;
    border-radius: 0.5rem;
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
    background-color: var(--color-white);
} 

label {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
}

/* COPYRIGHT */
.footer__bottom {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 8rem;
    
}

.footer__copyright {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
}

@media (min-width: 540px) {
  .email,
  .phone,
  .square-meter,
  .ort {
    width: 50%;
  }
}




