@import "basic-style.css";

/* HEADER */
body{
    background-color: #FEFEFA;
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--color-blue);
    display: grid;
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    max-height: 145px;
    width: 100%;
}

.header__inner {
    grid-column: inner;
    display: grid;
    grid-auto-columns: repeat(4, 1fr);
}

 h1{
    color: var(--color-white);
    font-family: var(--font-serif);
    font-size: 40px;
    grid-column:1/2;
    margin-top:40px;
}
.header__item {
    display: inline-block;
    margin: 45px 20px 0 10px;
    padding-left: 20px;
    
}
.header-link{
    color: var(--color-white);
    font-family: var(--font-sans-serif); 
    list-style-type: none;
    text-decoration: none;
}
.header__list {
    grid-column: 2/5;
    text-align: right;
    background-position: 100%;
    
    
}
 a:hover{ 
    color: var(--color-green);
}
.aktiv{
    color: var(--color-green);
    text-decoration: none;
    font-family: var(--font-sans-serif); 
    font-weight: 600;
    position: relative;
    
}

.aktiv::before {
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    background: var(--color-green);
    position: absolute;

}

/* MIN SIDA */
.main-container{
display: grid;
place-items: center;

}

.main-h1{
    color: var(--color-blue);
    font-family: var(--font-serif);
    font-size: 55px;
    text-align: center;
     
}
 .main-text{
    color: var(--color-blue);
    font-family: var(--font-sans-serif);
    text-align: center;
    justify-content: center;
    max-width: 800px;
} 
.images{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
    gap: 1%;

}
.main-img,
.main-img1,
.main-img2,
.main-img3{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 10px 0 10px;
}
.img{
    grid-column-start: 1;
    grid-column-end: 4;
    
}

.img-1{
    grid-column: 4/7;
    
}
.img-2{
    grid-column: 7/10;
    
}
.img-3{
    grid-column: 10/13;
    
} 
.bgimage img{
    z-index: -999;
    position: absolute;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 11;
    

    
}

.content{
    display: grid;
    grid-template-columns: 1fr,1fr;
    
}
.content-text{
    grid-column: 1/2;
    min-height: 400px;
    border: 2px solid var(--color-green);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    
}
.content-text2{
    grid-column: 2/3;
    min-width: 450px;
    padding: 20px;
    margin: 20px;
    border: 2px solid var(--color-green);
    border-radius: 20px;
    place-self: center;
    
}
.content-h1{
    font-family: var(--font-serif);
    color: var(--color-blue);
    font-size: 30px;
    text-decoration:overline;
    
}
.content-p{
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
}

/* PRISLISTA */
.price-content{
    min-height: 400px;
    /* min-width: 300px; max-width: 450px; */
    grid-column: 1/2;
    /* padding: 10px; */
    /* margin: 20px; */
    
    
    
}
.price-h1 {
    color: var(--color-white);
    font-family: var(--font-serif);
    text-align: center;
    font-size: 25px;

}
.price-opt {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
}
.price-ul {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
    margin-left: 20px;
    
}
.price-p {
    font-size: 13px;
    opacity: 0.5;
    margin-left: 40px;
}
.price-form{
    display: grid;
    grid-template-columns: 1fr,1fr;
    place-content: center;
    gap: 20%; 
}
/* FORMULÄR */
.form-content{
    border-radius: 20px;
    min-height: 400px; 
    margin:0 auto;
    grid-column: 2/3;
    min-width: 500px;
}
.form-head{
    color: var(--color-white);
    font-family: var(--font-serif);
    margin-left: 10px;
    font-weight: 700;
    font-size: 25px;
    
}

.form-item{
    color: var(--color-white);
    font-family: var(--font-sans-serif);
    margin: 10px;
    max-width: 400px;
}
input[type=submit]{
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
    border-radius: 8px;
    max-width: 100px;
    cursor: pointer;
}
   




/* FOOTER START*/
.footer {
    display: grid;
    
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    background-color: var(--color-blue);
    padding: 6rem 0 6rem 0;
}

.footer__inner {
    grid-column: inner;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 4rem;
    align-items: top;
}
/* CONTACT */
.footer__contact {
    grid-column: 1/3;
}


.footer__title,
.footer__headline,
.footer__text {
    color: var(--color-white);
    font-family: var(--font-serif);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.footer__title {
    padding-bottom: 1rem;
}

.footer__headline {
    padding-bottom: 0.25rem;
}

.footer__text {
    font-family: var(--font-sans-serif);
    padding-bottom: 1rem;
}

.footer__link {
    padding-bottom: 1rem;
}


.footer__phone span {
    display: block;
    padding-bottom: 0;
}

/* SOCIAL */
.footer__list {
    grid-column: 3/6;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.footer__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-sans-serif);
    text-decoration: none;
    padding-bottom: 1rem;

}

.footer__link:hover {
    color: var(--color-green);
}

.footer__link img {
    padding-right: 0.5rem;

}

/* FORM */
.footer__form {
    grid-column: 8/13;
    max-width: 450px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    display: block;
    margin: 0.5rem 0 1rem 0;
    padding: 0.75rem;
    width: 100%;
    border: 0;
    border-radius: 0.5rem;
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
    font-size: 16px;
}

label {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
}

.footer__button {
    margin: 0 auto;
    align-items: center;
    background-color: var(--color-white);
    border: 0;
    border-radius: 2rem;
    color: var(--color-blue);
    font-size: var(--font-size);
    font-family: var(--font-sans-serif);
    margin-top: 1rem;
    height: 2.5rem;
    width: 6rem;
}

.footer__button:hover {
    background-color: var(--color-green);
}

/* COPYRIGHT */
.footer__bottom {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 8rem;
    
}

.footer__copyright {
    color: var(--color-white);
    font-family: var(--font-sans-serif);

}
/* MOBILVERSION */
@media screen and (max-width:768px){
    .main-container{
        display: grid;

    }   
    .main-h1{
        place-items: center;
    }
    .main-text{
        display: none;
    }
    .main-img,
    .main-img1,
    .main-img2,
    .main-img3{
        display: none;
    }
    
    .content-text2{
        display: none;
    }
    .content-text{
        margin: 0 10px 20px 10px;
        min-width: 300px;
        text-align: center;
        
    }
    .bgimage img{
        display: none;
    }
    .price-form{
        display: block;
    }
    .price-content{
        border: 2px solid var(--color-green);
        /* margin-bottom: 20px; */
        margin: 0 10px 20px 10px;
        border-radius: 20px;
        min-width: 331px;
        padding: 5px;
        
    }
    .form-head,
    .form-item{
        color: var(--color-white);
        display: flex;
        flex-wrap: wrap;
    }
    .form-item{
        min-width: 60%;
    }
    .form-content{
        background-color: var(--color-green);
        padding: 2px;
        /* margin-bottom: 20px; */
        margin: 0 10px 20px 10px;
        grid-template-columns: none;
        min-width:331px;
    }
    .price-opt,
    .price-h1,
    .price-ul{
        color: var(--color-blue);
    }


}  

/* MOBILVERSION SLUT */