@import "basic-style.css";
body{
    background-color: #FEFEFA;
    margin: 0;
    padding: 0;
}

.header {
    border:1px solid #11224D;
    background-color: #11224D;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    height: 145px;
}

.header__inner {
    grid-column: inner;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    color: #FEFEFA;
    font-family: var(--font-serif);
    font-size: 40px;
    text-decoration: none;
    font-weight: 700;
}

.header__item {
    display: inline-block;
    padding-left: 2rem;
    
}

.header-link {
    color: #FEFEFA;
    font-family: var(--font-sans-serif); 
    list-style-type: none;
    text-decoration: none;
}

.header__list {
    text-align: right;
    background-position: 100%;    
}

 .header-link:hover { 
    color: #84BF9D;
}

.active {
    color: #84BF9D;
    text-decoration: none;
    font-family: var(--font-sans-serif); 
    font-weight: 600;
    position: relative;   
    padding-bottom: 0.25rem;  
}

.active::before {
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    background: #84BF9D;
    position: absolute;
    
}

.menu-button,
.menu-button__hamburger {
    display: none;
}


/* Case */

#case1 {
    background: url(../assets/img/dodsbo.jpg) no-repeat center center/cover;
    height: 750px;
}

#case1 .case-content {
    color: #11224D;
    text-align: center;
    padding-top: 100px;
}
#case1 .case-content h1{
color:#84BF9D;
}

#case1 .case-content h2{
    color:#11224D;
    }

/* Case end */

/* Showcase 2 */

#case2 {
    background: url(../assets/img/hero.jpg) no-repeat center center/cover;
    height: 750px;
}

#case2 .case-content2 {
    color: #11224D;
    text-align: center;
    padding-top: 100px;
}
#case2 .case-content2 h1{
color:#11224D;
}

#case2 .case-content2 h2{
    color:#84BF9D;
    }

/* Showcase 2 end */
.button {
    display: inline-block;
    font-size: 20px;
    color: #FEFEFA;
    background-color: #11224D;
    padding: 30px 60px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.button2 {
    display: inline-block;
    font-size: 20px;
    color: #FEFEFA;
    background-color: #84BF9D;
    padding: 20px 15px;
    border: none;
    border-radius: 30px;
}
.button2:hover {
    background-color: #11224D;
}

/* .section1
.sidebar1 {

{ */

/* Sidebar */

.background-sidebar {
    background: #FEFEFA;
    color: #84BF9D;
}

.sidebar-title,
.section-title {
    margin: 0;
    padding: 0 0 1rem 0;
    color: var(--color-blue);
    font-family: var(--font-serif);
}

.sidebar-text,
.section-text {
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
    margin: 10px;
    padding: 0;
}


.sidebar1,
.section1 {
    display: flex;
    flex-direction: row;
}

.sidebar1 {
    padding: 6rem 0 6rem 0;

}

.sidebar-info,
.section-info {
    grid-column: inner;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

.sidebar-content,
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-img img,
.section-img img {
    width: 100%;
    border-radius: 0.5rem;
}

.section1 {
    margin: 0;
    padding-bottom: 6rem;
}

figure {
    margin: 0;
    padding: 0;
}

/* Sidebar */



/* Sidebar end */



/* Sektion start */



/* Sektion end */




/*
#section-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 300px;
}

.sanering4{
    width: 100%;
    height: 100%;
}

/*
#section-info .image-info {
    float: left;
    width: 50%;
    background: url(../assets/img/sanering4.png) no-repeat;
    height: 100%;
}
#section-info .section-info  {
    padding-top: 50px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
/*
#section-info .content-info {
    padding-bottom: 20px;
}*/





.footer {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
    background-color: var(--color-blue);
    padding: 6rem 0 6rem 0;
}

.footer__inner {
    grid-column: inner;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 4rem;
    align-items: top;
}

/* CONTACT */
.footer__contact {
    grid-column: 1/3;
}

.footer__title,
.footer__headline,
.footer__text {
    color: var(--color-white);
    font-family: var(--font-serif);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.footer__title {
    padding-bottom: 1rem;
}

.footer__headline {
    padding-bottom: 0.25rem;
}

.footer__text {
    font-family: var(--font-sans-serif);
    padding-bottom: 1rem;
}

.footer__phone, 
.footer__email {
    padding-bottom: 1rem;
    text-decoration: none;
    font-family: var(--font-sans-serif);
    color: var(--color-white);

}

.footer__phone span {
    display: block;
    padding-bottom: 0;
}
    
/* SOCIAL */
.footer__list {
    grid-column: 3/6;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.footer__item {
    padding-bottom: 0.75rem;
}

.footer__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-sans-serif);
    text-decoration: none;

}

.footer__phone:hover,
.footer__email:hover,
.footer__link:hover {
    color: var(--color-green);
}

.footer__link img {
    padding-right: 0.5rem;
    
}

/* FORM */
.footer__form {
    grid-column: 8/13;
    width: 100%;
    max-width: 550px;
}

.footer__name, 
.footer__email,
.footer__textarea {
    width: 100%;
}

label {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
}

input[type="text"],
input[type="email"],
select,
textarea {
    display: block;
    margin: 0.5rem 0 1rem 0;
    padding: 0.75rem;
    width: 100%;
    border: 0;
    border-radius: 0.5rem;
    font-family: var(--font-sans-serif);
    color: var(--color-blue);
    background-color: var(--color-white);
} 

.footer__form ::placeholder {
    color: var(--color-blue);
  }


/* COPYRIGHT */
.footer__bottom {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 8rem;
    
}

.footer__copyright {
    color: var(--color-white);
    font-family: var(--font-sans-serif);
}

.footer__button {
    margin: 0 auto;
    align-items: center;
    background-color: var(--color-white);
    border: 0;
    border-radius: 2rem;
    color: var(--color-blue);
    font-size: var(--font-size);
    font-family: var(--font-sans-serif);
    padding: 0.5rem 1rem;
}

.form__button:hover,
.footer__button:hover {
    background-color: var(--color-green);
}

@media screen and (max-width: 600px) {

    .header {
        height: 100px;
    }

    .header__list {
        display: none;
    }

    .header__logo a {
        font-size: 32px;
    }

    .menu-button,
    .menu-button__hamburger {
        display: block;
    }

    .menu-button {
        background: none;
        border: 0;
        padding: 0;
        height: 40px;
        width: 26px;
        cursor: pointer;
    }

    .menu-button__hamburger {
        height: 2px;
        width: 100%;
        background: var(--color-white);
        position: relative;
    }

    .menu-button__hamburger::before,
    .menu-button__hamburger::after {
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        background: var(--color-white);
        position: absolute;
    }

    .menu-button__hamburger::before {
        top: -8px;
    }

    .menu-button__hamburger::after {
        top: 8px;
    }

    .sidebar-info {
        display: flex;
        flex-wrap: wrap;
    }

    .section-info {
        display: flex;
        flex-wrap: wrap;
    }

    .image-container1,
    .image-container2 {
        display: none;
    }

    #case2 {
        display: none;
    }

    .footer__inner {
        column-gap: none;
        gap: 3rem;
    }

    .footer__contact {
        grid-column: 1/-1;
    }

    .footer__email {
        padding-bottom: 0;
    }

    .footer__list {
        display: none;
    }
   
    .footer__form {
        display: none;
    }

    .footer__bottom {
    
        justify-content: start;  
        padding-top: 0;
    } 
}


@media screen and (max-width: 1100px) {

    .header {
        height: 100px;
    }

    .header__list {
        display: none;
    }

    .header__logo a {
        font-size: 32px;
    }

    .menu-button,
    .menu-button__hamburger {
        display: block;
    }

    .menu-button {
        background: none;
        border: 0;
        padding: 0;
        height: 40px;
        width: 26px;
        cursor: pointer;
    }

    .menu-button__hamburger {
        height: 2px;
        width: 100%;
        background: var(--color-white);
        position: relative;
    }

    .menu-button__hamburger::before,
    .menu-button__hamburger::after {
        content: '';
        height: 2px;
        width: 100%;
        left: 0;
        background: var(--color-white);
        position: absolute;
    }

    .menu-button__hamburger::before {
        top: -8px;
    }

    .menu-button__hamburger::after {
        top: 8px;
    }

    .sidebar-info {
        display: flex;
        flex-wrap: wrap;
    }

    .section-info {
        display: flex;
        flex-wrap: wrap;
    }

    .button2 {
        max-width: max-content;
    }

    .footer__inner {
        column-gap: none;
        gap: 3rem;
    }

    .footer__contact {
        grid-column: 1/-1;
    }

    .footer__email {
        padding-bottom: 0;
    }

    .footer__list {
        display: none;
    }
   
    .footer__form {
        display: none;
    }

    .footer__bottom {
    
        justify-content: start;  
        padding-top: 0;
    } 
}